* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Roboto", sans-serif;
}

body {
    width: 100%;
    height: 100vh;

    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-container-left {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;

}

.icon-container-right {
    text-align: center;
}



.post-body {
    width: 450px;
    height: 500px;

  
    background-color: beige;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.post-header {
    width: 100%;
    height: 15%;
    padding: 0 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

 

}

.post-img {
    width: 100%;
    height: 50%;

    background-color: rgb(73, 71, 71);
}

.post-img img {
    width: 100%;
    height: 100%;
    object-fit: fill;

 
}

.post-info {

    width: 100%;
    height: 35%;
    padding:  15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;

}

.icons{
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.liked{

}

.text-info{}